* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter';
}

:root {
  --brand1-dark1: #2d2c68;
  --brand1-dark2: #51579c;
  --brand1-dark3: #c7d1fa;

  --brand2-dark1: #2f4a97;
  --brand2-dark2: #7c9ee8;
  --brand2-dark3: #bdd8ff;

  --brand3-dark1: #f09005;
  --brand3-dark2: #fbc06a;
  --brand3-dark3: #ffeed1;

  --brand4-dark1: #e7501d;
  --brand4-dark2: #ff916c;
  --brand4-dark3: #ffcfb8;

  --gradient: linear-gradient(to bottom, var(var(--brand3-dark1)), var(--brand4-dark1))

  --font-inter: Inter;
  --font-poppins: Poppins;

  --desktop-font-body14: 0.875rem;
  --desktop-font-body16: 1rem;
  --desktop-font-body18: 1.125rem;

  --desktop-font-h1: 3rem;
  --desktop-font-h2: 2.5rem;
  --desktop-font-h3: 2.75rem;
  --desktop-font-h4: 2.25rem;
  --desktop-font-h5: 1.75rem;
  --desktop-font-h6: 1.375rem;

  --desktop-font-lh1: 52.8px;
  --desktop-font-lh2: 44px;
  --desktop-font-lh3: 52.8px;
  --desktop-font-lh4: 43.2px;
  --desktop-font-lh5: 36.4px;
  --desktop-font-lh6: 28.6px;
  
  --shadow-blue: 0px 24px 32px 0px rgba(233,236,241,0.5);

  --container1: 1216px;
  --container2: 1050px;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
}

ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  position: relative;
}

a {
  text-decoration: none;
}

.flex  {
  display: flex;
}

.all-center {
  align-items: center;
  justify-content: center;
}

.items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.container1 {
  width: 100%;
  max-width: var(--container1);
  margin: 0 auto;
}

.container2 {
  width: 100%;
  max-width: var(--container2);
  margin: 0 auto;
}

.detail-top-bottom {
  color: #CECDD9;
  font-size: 24px;
  overflow: hidden;
  background-color: #fff;
}

.grid {
  display: grid;
}

.grid-gap {
  gap: 20px;
}

.cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.relative {
  position: relative;
}

.flex-col {
  flex-direction: column;
} 

.flex-row {
  flex-direction: row;
} 

/* HEADER / NAVIGATION */


body > .detail-top-bottom:first-of-type {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

}

header {
  position: fixed;
  top: 24px;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  background-color: #fff;
}

nav ul {
  gap: 32px;
  width: 100%;
}

nav ul li {
  position: relative;
  transition-property: color;
  transition-timing-function: ease;
}

ul li a {
  font-size: var(--desktop-font-body14);
  color: #1C1C2B;
}

ul li:hover a {
  transition-duration: 0.8ms;
}

ul li:hover a,
ul li ul.menu-dropdown li:hover a {
  font-size: var(--desktop-font-body14);
  color: var(--brand3-dark1);
}

ul li ul.menu-dropdown li {
  display: block;
}

ul li ul.menu-dropdown {
  position: absolute;
  z-index: 999;
  display: none;
  padding: 2px 14px;
  background-color: #fff;
  width: max-content;
}

ul li ul.menu-dropdown li:not(li:last-of-type) {
  font-size: var(--desktop-font-body14);
  color: #56546B;
  border-bottom: 1px solid rgba(124, 158, 232, 0.2);
}

ul li ul.menu-dropdown li a {
  display: inline-block;
  width: max-content;
  padding: 14px 0;
  color: #56546B;
}

ul li:hover ul.menu-dropdown {
  display: block;
  width: 100%;
}

a.drop {
  display: inline-block;
  gap: 8px
}

a.cta-header {
  display: inline-block;
  padding: 8px 24px;
  background-color: var(--brand3-dark1);
  color: #fff;
  font-size: var(--desktop-font-body14);
  font-weight: medium;
  border-radius: 20px;
}

a.active {
  color: var(--brand3-dark1);
}

ul li:hover > a::before,
nav ul li a.active::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--brand3-dark1);
  position: absolute;
  bottom: -5px;
  left: 0;
}

/* MAIN */

main {
  position: relative;
  top: 24px;
}

/* HERO SECTION */

.hero {
  background-color: #F5F7FD;
  padding: 80px 20px;
  width: 100%;
  height: 644px;
}

.hero .container1 {
  align-items: center;
  justify-content: center;
}

.content-left {
  grid-column: 1 / span 8;
}

.hero h1.headline {
  font-weight: bold;
  font-size: var(--desktop-font-h1);
  line-height: var(--desktop-font-lh1);
  color: #0D0B1A;
  margin-bottom: 24px;
}

.hero p {
  color: #757385;
  font-size: var(--desktop-font-body18);
}

.cta {
  width: fit-content;
  background-color: var(--brand3-dark1);
  padding: 12px 32px;
  gap: 16px;
  border: 2px solid var(--brand3-dark2);
  border-radius: 32px;
  color: #fff;
  margin-top: 48px;
}

.hero .content-right {
  grid-column: 10 / span 12;
}

.hero .content-right img {
  position: absolute;
  right: -50px;
  top: -200px;
}

.metrics {
  padding: 32px 0 48px 0;
  background-color: #F5F7FD;
}

.metric-wrapper {
  gap: 4px;
  flex-direction: column;
}

.metric-wrapper h3 {
  font-size: var(--desktop-font-h3);
  font-weight: 600;
  color: var(--brand3-dark1);
}

.metric-wrapper p {
  text-align: center;
  font-size: var(--desktop-font-body16);
  color: #757385;
}

/* SOLUÇOES/ VANTAGENS */

.solutions {
  padding: 80px 20px;
}

.header-section {
  gap: 8px;
  text-align: center;
  margin-bottom: 24px;
}

.header-section p {
  text-transform: uppercase;
  font-size: var(--desktop-font-body18);
  font-weight: 600;
  color: var(--brand3-dark1);
}

.header-section h2 {
  font-size: var(--desktop-font-h2);
  color: #0D0B1A;
}

.solution-wrapper {
  z-index: 99;
  grid-column: span 4;
  height: 500px;
  border-radius: 6px;
  background-size: cover;
  background-position: center center;
  padding: 10px;
  align-items: end;
}

.solution-wrapper.solution1 {
  background-image: url('public/assets/images/solution1.png');
}

.solution-wrapper.solution2 {
  background-image: url('public/assets/images/solution2.png');
}

.solution-wrapper.solution3 {
  background-image: url('public/assets/images/solution3.png');
}

.overlay-solution {
  border-radius: 6px;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #132E7B 100%);
}

.solution-wrapper .description {
  width: 100%;
  height: 184px;
  background-color: #fff;
  padding: 14px 20px;
  position: relative;
  z-index: 999;
  border-radius: 6px;
}

.solution-wrapper .description p {
  width: fit-content;
  font-size: var(--desktop-font-body18);
  font-weight: 500;
  color: var(--brand3-dark1);
  padding: 4px 12px;
  background: var(--brand3-dark3);
  border-radius: 6px;
  margin-bottom: 16px;
}

.solution-wrapper .description ul {
  list-style-type: disc !important;
  list-style-position: inside;
}

.solution-wrapper .description ul li {
  width: 100%;
  font-size: var(--desktop-font-body14);
  color: #757385;
}

/* SOBRE A 3A LOCADORA */

.about {
  padding: 104px 20px;
  background-image: url('public/assets/images/bg-about.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about .container1 {
  gap: 58px;
}

.about .img-about {
  grid-column: span 6;
  border-radius: 6px;

}

.about .img-about img {
  border-radius: 6px;
}

.about .info-about {
  grid-column: span 6;
}

.about .info-about .about-header {
  margin-bottom: 48px;
}

.about .info-about .about-header p {
  font-size: var(--desktop-font-body18);
  color: var(--brand3-dark1);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.about .info-about .about-header h2 {
  font-size: var(--desktop-font-h2);
  color: #fff;
  font-weight: 600;
  margin-bottom: 24px;
}

.about .info-about .about-header p:last-of-type {
  font-size: var(--desktop-font-body18);
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  text-transform: none;
  line-height: 27px;
}

.info-about .advantages div:first{
  border-top: 1px solid rgba(124, 158, 232, 0.2);
}

.info-about .advantages div {
  align-items: start;
  gap: 16px;
  padding: 24px 0;
  border-bottom: 1px solid rgba(124, 158, 232, 0.2);
  color: #fff;
}

/* SEÇÃO DE PÚBLICO */

.public {
  padding: 104px 20px;
}

.public .header-section {
  margin-bottom: 48px;
}

.public-wrapper {
  grid-column: span 5;
  gap: 20px;
}

.public-container {
  width: 100%;
  border-radius: 24px;
  background-color: var(--brand3-dark1);
  padding: 32px;
  gap: 26px;
}

.public-container div {
  color: #fff;
  gap: 10px;
}

.public-container img {
  width: 72px;
  height: 72px;
}

.public-container div h5 {
  font-size: var(--desktop-font-h5);
  font-weight: 600;
}

.public-container div p {
  font-size: var(--desktop-font-body18);
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
}

div.public-image {
  grid-column: span 7;
}

/* FROTAS */

.fleets {
  padding: 104px 20px;
  background-color: #F5F7FD;
}

.fleets .header-section p,
.services-included .header-section p,
.testimonials .header-section p {
  color: var(--brand2-dark2);
}

.about-fleets {
  margin-top: 48px;
}

.about-fleets.grid {
  row-gap: 48px;
  column-gap: 20px;
} 

.fleet-container {
  grid-column: span 4;
  text-align: center;
  padding: 32px 20px;
  border-radius: 24px;
  border: 2px solid var(--brand2-dark2);
  background: rgb(66,95,179);
  background: radial-gradient(circle, rgba(66,95,179,1) 0%, rgba(47,74,151,1) 100%);
}


.fleet-container h6 {
  font-size: var(--desktop-font-h6);
  line-height: var(--desktop-font-lh6);
  color: #fff;
  margin-top: 26px;
  margin-bottom: 16px;
}

.fleet-container p {
  font-size: var(--desktop-font-body18);
  line-height: 25.2px;
  color: rgba(255, 255, 255, 0.8);
}

.fleets .cta {
  border: none;
}

/* SERVIÇOS INCLUSOS */

.services-included {
  padding: 104px 0 72px 0;
}

.services-included .header-section {
  margin-bottom: 14px;
}

.services-included .header-section span {
  font-size: var(--desktop-font-body14);
  line-height: 21px;
  color: #56546B;
}

.included-wrapper {
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 32px;
}

.included-wrapper div {
  border-radius: 8px;
  box-shadow: var(--shadow-blue);
  padding: 12px 18px 12px 14px;
  gap: 16px;
}

.included-wrapper div p {
  font-size: var(--desktop-font-body18);
  font-weight: 500;
  line-height: 27px;
  color: #1C1C2B;
}


/* TESTEMUNHOS */

.testimonials {
  padding: 72px 20px;
}

.testimonials .header-section {
  margin-bottom: 68px;
}

.testimonial-wrapper  {
  gap: 48px;
}

.testimonial {
  grid-column: span 4;
}

.testimonial .testimonial-header {
  gap: 16px;
  color: #0D0B1A;
  margin-bottom: 28px;
}

.testimonial .testimonial-header .client-img {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.testimonial .testimonial-header .client-img img {
  border-radius: 100%;
  width: 45px;
  height: 45px;
}

.testimonial .testimonial-header p:first-of-type {
  font-size: var(--desktop-font-body16);
  font-weight: 500;
  line-height: 24px;
}

.testimonial .testimonial-header p:last-of-type {
  font-size: 12px;
  line-height: 18px;
}

.testimonial > p {
  color: #757385;
  font-size: var(--desktop-font-body16);
}

/* SEÇÃO BANNER */

.banner {
  padding: 72px 20px 80px 20px;
  overflow: hidden;
}

.banner-wrapper {
  width: 100%;
  height: 524px;
  border-radius: 24px;
  background-image: url('public/assets/images/banner-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-wrapper .banner-content {
  grid-column: 2 / span 4;
  font-family: var(--font-poppins);
  font-size: var(--desktop-font-h4);
  line-height: var(--desktop-font-lh4);
  color: #fff;
  justify-content: center;
}

.banner-wrapper .banner-content a.cta {
  background: var(--brand1-dark1);
  color: #fff;
  width: fit-content;
  height: 51px;
  font-size: var(--desktop-font-body18);
  font-weight: 500;
  border: none;
}

.banner-wrapper .banner-img {
  grid-column: 6 / span 6;
}

.banner-wrapper .banner-img div.relative {
  width: 100%;
  height: 100%;
}

.banner-wrapper .banner-img div.relative > img {
  position: absolute;
  bottom: -125px;
  right: -147px;
}

/* SEÇÃO DE FORMULÁRIO */

.form {
  padding: 104px 20px;
  background-color: #F5F7FD;
}

.form-img {
  grid-column: 1 / span 5;
  height: 620px;
  max-height: 620px;
  border-radius: 24px 0 0 24px;
}

.form-img img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 24px 0 0 24px;
}

.form-wrapper {
  grid-column: 6 / span 6;
  /* height: 714px; */
  padding: 54px 38px;
  border-radius: 24px;
  background-color: #fff;
  -webkit-box-shadow: 0px 30px 50px -10px rgba(115,114,128,0.15);
  -moz-box-shadow: 0px 30px 50px -10px rgba(115,114,128,0.15);
  box-shadow: 0px 30px 50px -10px rgba(115,114,128,0.15);
}

.form-header p {
  text-transform: uppercase;
  font-size: var(--desktop-font-body18);
  line-height: 27px;
  color: var(--brand2-dark2);
}

.form-header h5 {
  font-size: var(--desktop-font-h5);
  line-height: var(--desktop-font-lh5);
  color: #15151F;
  margin-bottom: 20px;
}

.form form .type-person {
  gap: 33px;
  margin-bottom: 32px;
}

.form form .type-person div {
  gap: 9px;
  color: #757385;
  font-size: var(--desktop-font-body16);
  line-height: 24px;
}

.form form .type-person div input[type=radio] {
  width: 18px;
  height: 18px;
  border: 1.5px solid #757385;
}

.form form .form-fields,
.form form .form-fields div {
  gap: 16px;
}


.form form .form-fields input,
.form form .form-fields select {
  display: block;
  width: 100%;
  height: 56px;
  padding: 16px;
  border-radius: 6px;
  background: #F6F6F8;
  border: none;
}

.form form .form-fields input::placeholder {
  color: #757385;
  font-size: var(--desktop-font-body16);
  line-height: 24px;
}

.form form input[type=submit] {
  margin: 24px 0;
  display: block;
  border-radius: 28px;
  height: 56px;
  width: fit-content;
  padding: 0 50px;
  background-color: var(--brand3-dark1);
  color: #fff;
  font-size: var(--desktop-font-body16);
  line-height: 24px;
  font-weight: 600;
  border: none;
}

.footer-form p {
  font-size: 12px;
  line-height: 18px;
  color: #56546A;
}

.footer-form .line {
  height: 2px;
  width: 100%;
  background-color: rgba(206, 205, 217, 0.4);
  margin: 18px 0;
}

.footer-form div:last-of-type {
  gap: 14px;
}

/* ÚLTIMA SEÇÃO */

.big-section {
  padding: 0 20px;
  background-image: url('public/assets/images/big-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.sell-vehicles,
.why-buy,
.next-step {
  padding: 80px 0;
}

.sell-vehicles {
  gap: 55px;
}

.sell-vehicles .section-img {
  grid-column: span 6;
  width: 100%;
}

.sell-vehicles .section-img img {
  border-radius: 0 24px 24px 0;
  width: 100%;
}

.sell-vehicles .sell-vehicles-content {
  width: 100%;
  grid-column: span 6 ;
}

.sell-vehicles .sell-vehicles-content h2,
.why-buy .header-section h2 {
  font-size: var(--desktop-font-h2);
  line-height: var(--desktop-font-lh2);
  color: #fff;
}

.sell-vehicles .sell-vehicles-content p {
  margin: 24px 0;
  font-size: var(--desktop-font-body18);
  font-weight: 400;
  line-height: 27px;
  color: #fff;
}

.big-section a.cta {
  border: none;
  margin-top: 0;
}

div.line-section {
  height: 2px;
  width: 100%;
  background-color: rgba(87, 60, 153, 0.8);
}

.motives-to-buy-wrapper {
  margin-top: 48px;
  gap: 20px;
  align-items: start;
}

.motives-to-buy-wrapper div.motive-to-buy {
  grid-column: span 3;
  padding: 0 20px;
  text-align: center;
}

.motive-to-buy img {
  margin-bottom: 26px;
  width: 56px;
  height: 56px;
}

.motive-to-buy h6 {
  font-size: var(--desktop-font-h6);
  line-height: var(--desktop-font-lh6);
  color: #fff;
  margin-bottom: 16px;
}

.motive-to-buy p {
  font-size: var(--desktop-font-body18);
  line-height: 25.2px;
  color: rgba(255, 255, 255, 0.8);
}

/* SEÇÃO PRÓXIMA ETAPA */

.next-step {
  gap: 55px;
}

.next-step-content {
  grid-column: span 5;
}

.next-step-content h2 {
  font-size: var(--desktop-font-h2);
  line-height: var(--desktop-font-lh2);
  color: #fff;
}

.next-step-content h2 span {
  color: var(--brand3-dark1);
}

.next-step-content p {
  margin: 24px 0 32px 0;
  font-size: var(--desktop-font-body18);
  line-height: 25.2px;
  color: #fff;
}

.next-step-img {
  grid-column: span 7;
}

.next-step-img img {
  border-radius: 24px;
}

/* RODAPÉ */

footer {
  background-color: var(--brand1-dark1);
}

footer .container1 {
  padding: 62px 0 0 0;
}

footer .container1 > div {
  align-items: start;
}

.footer-nav {
  gap: 24px;
}

.footer-nav a {
  font-size: var(--desktop-font-body16);
  line-height: 24px;
  color: #fff;
}

.social-location {
  padding-bottom: 62px;
}

.social-media-wrapper {
  gap: 16px;
  color: #fff;
  margin-bottom: 32px;
}

.social-media {
  gap: 8px;
}

.social-media i {
  font-size: 20px;
}

footer p.address {
  font-size: var(--desktop-font-body16);
  line-height: 24px;
  color: #fff;
}

footer div.copyright {
  padding: 32px 0;
  color: #fff;
}

footer div.copyright a {
  color: #fff;
  text-decoration: underline;
}